<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="electron practice project" />
    <meta name="author" content="kramz" />
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <title>Welcome Page</title>
</head>
<body>
   <div id="personalInfo" class="container">
    <h3>Personal Information</h3>
    <p id="fullName">Full Name: <strong>John Doe</strong> </p>
    <p id="email">Email: <strong>johndoe125@gmail.com</strong></p>
    <a href="#"> Logout</a>
    <p id="info"></p>
    </div>
 <footer class="footer">
  
    <div class="text-muted"> Developed By: Kramz</div>
</footer>
<script src="../renderer.js"></script>
</body>
</html>